@import 'variables/colors.scss';
@import 'variables/dimensions.scss';

footer {
  width: 100%;
  background: $dark-blue;
  color: $my-white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;

  .row {
    width: clamp(0px, 100%, 1600px);
    padding: 1rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .col {
      width: clamp(250px, 33%, 33%);
      text-align: center;
      margin: 0 0 2rem 0;

      p {
        margin: 0;
        padding: 0.3rem 0;
        font-size: 0.8rem;
        text-align: center;

        b {
          margin: 0 0 1rem 0;
          display: block;
          font-size: 1rem;
        }
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      .a-logo {
        overflow: hidden;
        display: inline-block;
        transition:
          transform $base-transition-time ease-in,
          box-shadow $base-transition-time ease-in;
        border-radius: $base-radius;

        .circural-element {
          display: inline-flex;
          flex-flow: column wrap;
          align-items: center;
          justify-content: center;
          border: 1px solid $my-white;
          border-radius: $base-radius;
          box-sizing: border-box;
          min-width: 135px;
          aspect-ratio: 1;
          transition: border $base-transition-time ease-in;

          span {
            font-size: 0.8rem;
            margin: 0.5rem 0 0 0;
            transition: color $base-transition-time ease-in;
          }

          svg {
            fill: $my-white;
            width: 40px;
            transition: fill $base-transition-time ease-in;
          }

          &:hover {
            border: 1px solid $light-green;
          }

          &:hover span {
            color: $light-green;
          }

          &:hover svg {
            fill: $light-green;
          }
        }

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0 12px $light-green;
        }
      }
    }

    .single-col {
      width: 100%;
    }

    .last-col {
      margin: 0 0 1rem 0;
    }
  }

  .small-row {
    width: clamp(0px, 100%, 900px);
  }
}
