@import 'variables/colors.scss';
@import 'variables/dimensions.scss';

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 5rem 0 0 0;
  background: $my-white;
  color: $rich-black;
  scroll-behavior: smooth;

  p {
    font-size: 1rem;
  }
}

main {
  width: clamp(0px, 100%, 1600px);
  margin: 0 auto;

  .main-container {
    padding: 0 3rem;
    box-sizing: border-box;
  }
}