@import 'variables/colors.scss';
@import 'variables/dimensions.scss';

.menu-btn {
  display: block;
  margin: 1em;
  width: 36px;
}

.menu-btn:before,
.menu-btn:after {
  background-color: $my-white;
  content: '';
  display: block;
  height: 4px;
  transition: all 200ms ease-in-out;
}
.menu-btn:before {
  box-shadow: 0 10px 0 $my-white;
  margin-bottom: 16px;
}
.menu-btn.unrolledToogler:before {
  box-shadow: 0 0 0 $my-white;
  transform: translateY(10px) rotate(45deg);
}
.menu-btn.unrolledToogler:after{
  transform: translateY(-10px) rotate(-45deg);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: $rich-black;
  padding: $base-small-padding $base-padding;
  box-sizing: border-box;
  color: $my-white;
  position: fixed;
  width: 100%;
  top: 0;
  border-radius: 0 0 $base-radius $base-radius;
  font-size: 1rem;
  line-height: 1rem;
  z-index: 1;
  box-shadow: 0 0 12px $rich-black;

  a {
    text-decoration: none;
    color: inherit;
  }

  .logo {
    img {
      width: 50px;
      border-radius: $base-radius;
    }
  }

  menu {
    padding: 0;
    margin: 0;

    .list {
      list-style: none;
      display: flex;
      gap: 1.25rem;
      margin: 0;

      li {
        color: $my-white;
        transition: color $base-transition-time ease-in;
        cursor: pointer;
      }

      .selected {
        color: $paynes-gray;
      }

      li:hover {
        color: $light-green;
      }
    }
  }

  #toogler {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  nav {
    justify-content: space-between;

    menu {
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: height $base-transition-time ease-out;

      .list {
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        li {
          box-shadow: none;
        }

        .selected {
          box-shadow: none;
        }

        li:hover {
          box-shadow: none;
        }
      }
    }

    #toogler {
      display: block;
      cursor: pointer;
    }
  }

  .unrolledMenu {
    height: 100vh;
    transition: height $base-transition-time ease-in;
  }
}
