@import "variables/colors.scss";
@import "variables/dimensions.scss";

.twi-container {
  width: 100%;
  overflow: hidden;
}

.twi-icon {
  width: 20%;
  float: left;

  img {
    width: 1rem;
    float: right;
    margin: 1rem;
  }
}

.twi-content {
  width: 80%;
  float: left;

  p {
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0;

    &:first-child {
      margin-top: 0.75rem;
    }
  }
}
